body {
    margin: 0;
    padding: 0;
}


body::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url("images/image1.jpg");
    opacity: 0.90;
    background-size: cover;
    background-position: center;
    display: grid;

}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    color:rgb(241, 238, 234);
}

.info {   
    width: 900px;
    height: 300px;
    margin: auto;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    margin-top: 60px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color:rgb(238, 234, 234);
}


#text {
    font-size: 30px;
}

#messages {
    display:block;
    padding: 60px;
    text-align: center;
    font-size: 23px;
}

.info ul {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    font-style: italic;
    padding-left: 95px;
}

.info li{
    padding-top: 8px;
}

.info li:hover {
    color:rgb(187, 110, 211);
    
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

button {
    width: 250px;
    height: 60px;
    font-size: 25px;
    border-radius: 5px;
    background-color:rgba(123, 53, 153, 0.8);
    color: rgb(33, 5, 37);
    border: none;
}

button:hover {
    background-color: rgb(33, 5, 37,0.8);
    color:rgb(187, 110, 211);
}